doctype html
html
    head
        //
           Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Desarrollo de Aplicaciones Móviles para Empresas')

        title Go!Smart - Soluciones y Desarrollo móvil
        //
           Bootstrap core CSS
        link(href='css/bootstrap.css', rel='stylesheet')
        //
           Startup CSS
        link(href='css/startup.css', rel='stylesheet')
        //
           HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
          script(src='js/html5shiv.js')
          script(src='js/respond.min.js')
        //
           Favicons
        link(rel='shortcut icon', href='images/favicon.png')
        script(src='js/pace.js')
        //
           Custom Google Font : Open Sans
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    body
        .preloader
        //
           Parallax Header Starts
        main#top.masthead(role='main')
            .container
                //
                   Startup Logo
                .logo
                    a(href='#')
                        img(src='images/logo-gosmart3.png', alt='startup-logo')
                //
                   Hero Title
                h1
                    | La Forma más &#32;
                    span(data-typer-targets='Fácil ,Segura ,Efectiva ')
                    |&#32; de &#32;
                    strong Desarrollar &#32;
                    br
                    | una &#32;
                    strong App &#32;
                    | para tu
                    strong &#32; Negocio &#32;
                //
                   Mailchimp Subscribe form
                .row
                    .col-md-6.col-sm-12.col-md-offset-3.subscribe

                        span#result.alertMsg
                //
                   // Mailchimp Subscribe form Ends
                //
                    Scroll to Explore
                a.scrollto(href='#explore')
                    p SCROLL para Navegar
                    p.scrollto--arrow
                        img(src='images/scroll_down.png', alt='scroll down arrow')
                //
                   // Scroll to Explore Ends
        //
           // Parallax Header Ends
        //
           Container
        #explore.container
            //
               Hero Image
            .section-title
                h2 Diseñamos las Herramientas definitivas para tus Necesidades
                h4 Simple, Elegante, Seguro y Estable
            section.row.heroimg.breath
                .col-md-12.text-center
                    img(src='images/flat-mockup-template.png', alt='flat-mockup-template')
            //
               //Hero Image
            //
               Features Section
            .section-title
                h2 Algunas de las cosas que te pueden ayudar en tu SmartPhone

            section.row.features
                //
                   Feature 01
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/map.png', alt='analytics-icon')
                        .caption
                            h3 Mapa y GPS
                            p Navega por la ciudad, encuentra direcciones, aprovecha el mapa para optimizar tus viajes.
                //
                   Feature 02
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/flat-feature-icon-4.png', alt='analytics-icon')
                        .caption
                            h3 Chat
                            p Comunícate con los usuarios y ellos también se comunicarán entre sí.
                //
                   Feature 03
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/satellite.png', alt='analytics-icon')
                        .caption
                            h3 Tracking
                            p Pide la posición de un móvil cuando lo desees.
                //
                   Feature 04
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/clipboard.png', alt='analytics-icon')
                        .caption
                            h3 Formularios
                            p
                                | Ingresa información en tus actividades, de forma totalmente personalizada.

            section.row.features
                //
                   Feature 01

                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/wi-fi.png', alt='analytics-icon')
                        .caption
                            h3 Sincronización Offline
                            p
                                | ¿No hay Internet? No hay ningún problema, trabaja offline y sincronízate cuando tengas conexión.
                //
                   Feature 02
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/cloud.png', alt='analytics-icon')
                        .caption
                            h3 Documentos
                            p
                                | Te damos la posibilidad de tener documentos locales y en la nube.
                //
                   Feature 03
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/mail.png', alt='analytics-icon')
                        .caption
                            h3 Notificaciones Push
                            p Da a conocer tu mensaje a tus clientes o usuarios en el momento que tu quieras.
                //
                   Feature 04
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/camera.png', alt='analytics-icon')
                        .caption
                            h3 Qr-Code, Código a barra y NFC
                            p
                                | Si necesitas escanear algo de forma rápida, nosostros te lo damos.

            section.row.features
                //
                   Feature 01
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/eye.png', alt='analytics-icon')
                        .caption
                            h3 Check-In
                            p Ve si tu personal está donde y cuando tiene que estar.
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/calendar.png', alt='analytics-icon')
                        .caption
                            h3 Calendario
                            p Organiza el transcurso del tiempo.
                //
                   Feature 02
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/ufo.png', alt='analytics-icon')
                        .caption
                            h3 Otros
                            p Escuchamos tus necesidades.





            .section-title
                h2 También dominamos la Web

            section.row.features
                //
                   Feature 01
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/chart.png', alt='analytics-icon')
                        .caption
                            h3 Reportería
                            p Ve lo que te importa, de forma fácil y comprensible.
                //
                   Feature 02
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/flat-feature-icon-2.png', alt='analytics-icon')
                        .caption
                            h3 Administración
                            p
                                | Te damos el control, para que funcione como tu lo esperas.
                //
                   Feature 03
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/flat-feature-icon-3.png', alt='analytics-icon')
                        .caption
                            h3 Desarrollo
                            p Satisfacemos tus requerimientos.
                //
                   Feature 04
                .col-sm-6.col-md-3
                    .thumbnail
                        img(src='images/ios-devices.png', alt='analytics-icon')
                        .caption
                            h3 Sitios Móviles
                            p
                                | El 42% de las visitas a una Web, son desde un SmartPhone, necesitas un sitio preparado.


            //
               // Features Section Ends
            //
               Client Logos
            .section-title
                h2 Usamos las últimas Tecnologías

                h4 "Para dar lo Mejor"
            section.row.clientlogo.breath
                .col-md-12.text-center
                    img(src='images/logos-fila1.jpg', alt='client-logos')
            section.row.clientlogo.breath
                .col-md-12.text-center
                    img(src='images/logos-fila2.jpg', alt='client-logos')
            //
               // End Client Logos
        //
           // Container Ends
        //
           Grey Highlight Section
        .highlight.testimonials
            .container
                //
                   Testimonials
                .section-title
                    h2 Trabajamos en Multiplataformas
                section.row.clientlogo.breath
                    .col-md-12.text-center
                        img(src='images/android.png', alt='client-logos')
                        img(src='images/ios.png', alt='client-logos')
                        img(src='images/win.png', alt='client-logos')
                .section-title
                        h2 "En el año 2017 habrá prácticamente un SmartPhone por cada habitante en Chile..." Cisco - Visual Networking Index


                //
                   // End Testimonials
        //
           // End Grey Highlight Section
        //
           Container
        .container
            //
               Pricing


            //
               // End Pricing
            //
               FAQ
            .section-title
                h2 Preguntas Frecuentes
            section.row.faq.breath
                .col-md-6
                    h6 ¿Tengo que adaptar mi negocio?
                    p
                        | No, nosotros nos adaptamos, para que puedas trabajar con normalidad.
                    h6 ¿Es un Software a medida?
                    p
                        | Absolutamente, nuestros módulos se adaptan a tus necesidades.
                .col-md-6
                    h6 ¿La data es en tiempo real?
                    p
                        | Con conexión a Internet, nos demoramos en entregar la información entre 1/800 a 5 segundos.
                    h6 ¿Me ayuda a mejorar mis procesos?
                    p
                        | Por supuesto que sí, mejora la productividad de la empresa y el bienestar de los empleados.

            //
               // End FAQ
        //
           // Container Ends
        //
           Parallax Footer Starts
        main.footercta(role='main')
            .container
                //
                   Hero Title
                h1
                    | Trabajemos Juntos
                //
                   Mailchimp Subscribe form
                .row
                    .col-md-12.breath.text-center
                        form#subscribeForm.form-horizontal(role='form', action='subscribe.php', method='POST')
                             .form-group
                             .col-md-7.col-sm-6.col-sm-offset-1.col-md-offset-0
                             input#email.form-control.input-lg(name='email', type='email', placeholder='Ingresa Tu E-Mail', data-validate='validate(required, email)', required='required')
                             .form-group
                             .col-md-7.col-sm-6.col-sm-offset-1.col-md-offset-0
                             input#nombre.form-control.input-lg(name='email', type='text', placeholder='Nombre y Apellido', data-validate='validate(required, email)', required='required')
                             .form-group
                             .col-md-7.col-sm-6.col-sm-offset-1.col-md-offset-0
                             input#fono.form-control.input-lg(name='email', type='number', placeholder='Teléfono de Contacto', data-validate='validate(required, email)', required='required')
                             .form-group
                             a#enviar.btn.btn-success.btn-lg.gototop(href='#subscribeForm') Enviar
        //
           // Parallax Footer Ends
        //
           Container
        .container
            section.row.breath
                .col-md-12.footerlinks

                    p 2014 Go!Smart
            //
               // End Client Logos
        //
           // Container Ends
        //
           JS and analytics only.

           Placed at the end of the document so the pages load faster
        script(src='js/jquery.js')
        script(src='js/bootstrap.js')
        script(src='js/easing.js')
        script(src='js/typer.js')
        script(src='js/nicescroll.js')
        script(src='js/ketchup.all.js')
        script(src='js/text.js')
        script(src='js/controllers/main.js')
        script(src='js/jquery.formError.js')


